@model Bill
@{
    double itemTotalPrice = 0;
    double total = 0;
    var totaldiscard = 0.0;
    ViewData["Title"] = "Edit";
} @*Customer Details*@
<script src="~/js/Java_methods.js"></script>
<h5 style="color:#ff6347; display:inline-block;font-size:26px">@Model.Customer.Name</h5>
<span style="margin-left:140px ; font-size:26px">رقم الفاتوره : @Model.BillId</span>
<hr />
<table style="display:none">
</table>
<form id="NewOrderForm">
    @*Order Details*@
    <h5 style="margin-top:5px;color:#ff6347">تفاصيل الشراء</h5>
    <div class="form-horizontal">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="display:none"></th>
                    <th style="display:none"></th>
                    <th style="width:40%">المنتج</th>
                    <th style="width:10%">الوحده</th>
                    <th>اللون</th>
                    <th style="width:10%"> الكميه</th>
                    <th style="width:15%">السعر</th>
                    <th style="width:15%">السعر الكلي</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody id="add" class="table table-striped">
                @foreach (var child in Model.BillItems)
                {
                    if (child != null && child.Quantity > 0)
                    {
                        var measureName = @child.ItemQantity.Item.Measure.MeasureName;
                        var measureId = @child.ItemQantity.Item.MeasureId;
                        var colorName = @child.ItemQantity.Item.Color.ColorName;
                        var colorId = @child.ItemQantity.Item.ColorId;
                        <tr id="_@child.BillItemId">
                            <td> @child.ItemName </td>
                            <td>@measureName</td>
                            <td>@colorName</td>

                            <td>@child.Quantity.ToString("0.00")</td>
                            <td>@child.SalePrice.ToString("0.00")</td>
                            @{
                                itemTotalPrice = child.Quantity * child.SalePrice; total = total + itemTotalPrice;
                            }
                            <td>@itemTotalPrice.ToString("0.00")</td>
                            <td style="display:none">@child.ItemQantity.ItemId</td>
                            <td style="display:none"> @measureId</td>
                            <td style="display:none">@colorId</td>
                            <td style="display:none">@child.ItemQantity.ItemId</td>
                            @*   <td style="display:none">@child.IsCartona</td>*@
                            <td style="display:none">@child.BillItemId</td>
                            <td>
                                <a href="#" class="btn btn-danger" onclick="data('@child.ItemName','@measureName','@colorName',@child.Quantity,@child.SalePrice,@measureId
                                                                                ,@colorId,@child.ItemQuantityId,@child.BillItemId)"> عرض </a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div style="margin-left:60%">
            <label>السعر الكلي</label>
            <input class="form-control" style="display:inline-block; width:120px;height:30px" id="tot" disabled value="@total.ToString("0.00")" />
        </div>
        <div class="above">
            <div class="loader"></div>
        </div>
        <h5 style="margin-top:5px;color:#ff6347">المرتجع</h5>
        <hr />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:40%">المنتج</th>
                    <th style="width:10%">الوحده</th>
                    <th>اللون</th>
                    <th style="width:10%"> الكميه</th>
                    <th style="width:15%">السعر</th>
                    <th style="width:15%">السعر الكلي</th>
                    @*<th style="display:none"></th>
                    <th style="display:none"></th>*@
                    <th style="width:10%"></th>
                </tr>
            </thead>
            @foreach (var item in Model.BillItems)
            {
                if (item!=null&&item.DiscardQuantity>0)
                {
                    <tr id=@item.BillItemId>
                        <td> @item.ItemName </td>
                        <td>@item.ItemQantity.Item.Measure.MeasureName</td>
                        <td>@item.ItemQantity.Item.Color.ColorName</td>
                        <td>@item.DiscardQuantity.ToString("0.00")</td>
                        <td>@item.SalePrice.ToString("0.00")</td>
                        @{
                            var discard = item.DiscardQuantity * item.SalePrice;
                        }
                        <td>@discard.ToString("0.00")</td>
                        @{ totaldiscard += discard;}
                          <td><a href="#" onclick="deleteitem(@item.BillItemId,'/Bills/DeleteBillItem')" class="btn btn-danger fa fa-trash"/> حذف</td>
                    </tr>
                }
            }
            <tbody id="adddata">
            </tbody>
        </table>
        <div style="margin-left:60%">
            <label>السعر الكلي</label>
            <input class="form-control" style="display:inline-block; width:120px;height:30px" id="dis" disabled value="@totaldiscard.ToString("0.00")" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">الغاء</button>
        <button id="esaveOrder" type="submit" class="btn btn-danger">حفظ الفاتوره</button>
    </div>
</form>

@*------------------------------------------------forEdit-----------------------------------------------------------------------*@
<div class="modal fade" id="mymodal2">
    <div class="modal-dialog modal-lg" style=" width: 600px !important; background-color:antiquewhite">
        <div class="modal-content" style="background-color:#8f57bb">
            <div class="modal-header">
                <h4>تعديل منتج</h4>
                <a href="#" class="close" data-toggle="modal" data-target="#mymodal2">&times;</a>
            </div>
            <div class="modal-body" id="content">
                <div class="form-horizontal">
                    @* <input type="hidden" id="OrderId" />*@
               s
                 @*   <input type="hidden" id="measurement1" />*@
                    <div class="form-group form-row">
                        <label class="control-label col-md-2">
                            المنتج
                        </label>
                        <div class="col-md-9" style="margin-bottom:2px">
                            <input type="text" id="productName" name="productName" disabled placeholder="Product Name" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            الوحده
                        </label>
                        <div class="col-md-2" style="display:inline-block; margin-bottom:2px">
                            <input id="measurename" name="measure" disabled class="form-control" />
                          
                        </div>
                        <label class="control-label col-md-1">
                            اللون
                        </label>
                        <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                            @*<input type="text" id="measure" name="measure" placeholder="measure" class="form-control" disabled/>*@
                            <input id="colorname" disabled class="form-control dropdown-toggle" />
                        </div>
                        <label class="control-label col-md-1">
                            السعر
                        </label>
                        <div class="col-md-3" style="display:inline-block; margin-bottom:2px">
                            <input type="number" disabled id="price" name="price" placeholder="السعر" class="form-control" />
                        </div>
                        <label class="control-label col-md-2" id="l">
                            الكميه
                        </label>
                        <div class="col-md-2" style="display:inline-block">
                            <input type="number" id="quantity" name="quantity" placeholder="الكميه" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-toggle="modal" data-target="#mymodal2">الغاء</button>
                    <button id="adddiscard" type="submit" class="btn btn-danger">اضافة مرتجع</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var billItemId = 0,
        itemquantityid=0;
    var totalquantity = 0;
    $("#adddiscard").click(function (e) {
        e.preventDefault();
        var x = 0;
        var newitem = 0;
        if ($("#_" + billItemId ).find('td:eq(0)').text() == "" &&
            $("#_" + billItemId ).find('td:eq(1)').text() == "" &&
            $("#_" + billItemId ).find('td:eq(3)').text() == "" &&
            $("#_" + billItemId ).find('td:eq(4)').text() == "" ) { alert("تاكد من ادخال القيم "); return; }
        
        if (parseFloat($("#quantity").val()) > totalquantity) { alert("قمية الكميه اكبر من الموجوده بالفاتوره"); return; }

        if ($("#quantity").val() == 0) { alert("لا يمكن ان تكون الكميه 0"); return; }
        //putting data into the table ----------------------------------
        var eproductName = $("#productName").val(),
            eprice =parseFloat($("#price").val()),
            discardquantity =parseFloat($("#quantity").val()),
         //   eitemId = $("#_" + billItemId).find('td:eq(6)').text(),
            //ecolorid = $("#_" + billItemId).find('td:eq(7)').text(),
            //emeasureid = $("#_" + billItemId).find('td:eq(6)').text(),
            detailsTableBody = $("#adddata");
        var x = 0;
        $.each($("#adddata tr"), function () {
            if (parseFloat($(this).find('td:eq(7)').html()) == billItemId) { alert("هذا العنصر موجود"); x = 1; return }
        });
        if (x == 1) { return; }
        totalbill = (eprice * discardquantity);
        total = totalbill + parseFloat($("#dis").val());
        $("#dis").val(total.toFixed(2));

        var eproductItem = '<tr><td> ' + eproductName
            + '</td><td>' + $("#measurename").val()
            + '</td><td>' + $("#colorname").val()
            + '</td><td>' + discardquantity
            + '</td><td>' + eprice
            + '</td><td>' + (eprice * discardquantity).toFixed(2)
            + '</td><td><a data-itemId="0" href="#" class="edeleteItem">Remove</a></td>'
            + '</td><td style="display: none">' + billItemId + '</td>'
            + '</td><td style="display: none">' + itemquantityid + '</td>'
        detailsTableBody.append(eproductItem);
        $("#mymodal2").modal("hide");
    });
    //function clearItem() {
    //    $("#productName").val('');
    //    $("#eprice").val('');
    //    $("#equantity").val('');
    //    $("#emeasureId").val('');
    //    $("#emeasureName").val('');
    //}
    // After Add A New Order In The List, If You Want, You Can Remove It.
    $(document).on('click', 'a.edeleteItem', function (e) {
        e.preventDefault();
        var $self = $(this);
        if ($(this).attr('data-itemId') == "0") {
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                $(this).remove();
                var total = parseFloat($("#dis").val()) - $(this).find('td:eq(5)').html();
                $("#dis").val(total.toFixed(2));
            });
        }
    });
   
    //Collect Multiple Order List For Pass To Controller
    // the form of data i reseve---------------------------------------------------
    $("#esaveOrder").click(function (e) {
        e.preventDefault();
        var billItems = [];
        $.each($("#adddata tr"), function () {
            var BillItem = new Object();
           // BillItem.Quantity = $(this).find('td:eq(9)').html();
            
            BillItem.DiscardQuantity = $(this).find('td:eq(3)').html();
            
            BillItem.ItemName = $(this).find('td:eq(0)').html();
            BillItem.SalePrice = $(this).find('td:eq(4)').html(),
            BillItem.BillItemId = $(this).find('td:eq(7)').html();
            BillItem.ItemQuantityId = $(this).find('td:eq(8)').html();
            BillItem.BillId = @Model.BillId;
            billItems.push(BillItem);
        });
        if (billItems.length == 0) { alert("لايوجد بيانات"); return; }
        $(".loader").css("display", "flex");
        $("#esaveOrder").prop('disabled', true);
        $.when(saveOrder(billItems)).then(function (response) {
          //  console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
    //After Click Save Button Pass All Data View To Controller For Save Database
    function saveOrder(billItems) {
        return $.ajax({
            type: 'POST',
            url: "/Bills/CreateDiscard",
            data: { billItems },
            success: function (result) {
                $(".loader").css("display", "none");
                $("#esaveOrder").prop('disabled', false);
                location.reload();
            },
            error: function () {
                $(".loader").css("display", "none");
                $("#esaveOrder").prop('disabled', false);
                alert("Error!")
            }
        });
    }
      
    //for edit -------------------------------------------------------------------------------   
    var billitemid
    function data(itemName,measureName,colorName,quantity,salePrice,measureId,colorId,itemQuantityId,billitemid) {
   
    billItemId=billitemid;
    itemquantityid=itemQuantityId;
    $("#productName").val(itemName);
     $("#measurename").val(measureName);
    $("#price").val(salePrice);
    $("#quantity").val(quantity);
    $("#colorname").val(colorName);
    totalquantity=quantity;
    $("#mymodal2").modal("show");
    }
    function deleteitem(billItemId, location) {
         var result = confirm("هل انت متاكد من الحذف ");
         if(result){
        return $.ajax({
            type: 'POST',
            url: location,
            data: { billItemId },
            success: function(result) {
                $("#"+billItemId).css("background-color", "#ff6347").fadeOut(800, function() {
                    $(this).remove();
                    var total = parseFloat($("#dis").val()) - $(this).find('td:eq(5)').html();
                    $("#dis").val(total.toFixed(2));

                });
            }

        });
    }
  }
</script>