@model Bill
@{
    double total=0,itemPrice=0;
    ViewData["Title"] = "Edit";
} @*Customer Details*@
<script src="~/js/Java_methods.js"></script>
<h5 style="color:#ff6347; display:inline-block; ">بيانات الشراء</h5>
<span style="margin-left:140px ; font-size:26px">رقم الفاتوره : @Model.BillId</span>
<hr />
<form id="NewOrderForm">
    <div class="form-horizontal">
        <input type="hidden" id="eCustomerId" value=@Model.Customer.CustomerId />
        <div class="form-group">
            <label class="control-label col-md-2">
              @Html.DisplayNameFor(x=>x.Customer.Name)
            </label>
            <div class="col-md-4" style="display:inline-block">
                <input type="text" id="ename" value="@Model.Customer.Name" placeholder="الاسم" class="form-control" />
            </div>
            <label class="control-label col-md-2">
               @Html.DisplayNameFor(x=>x.Customer.PhoneNumber)
            </label>
            <div class="col-md-3" style="display:inline-block">
                <input type="text" id="ePhone" value=@Model.Customer.PhoneNumber placeholder="رقم الهاتف" class="form-control" />
            </div>
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(x=>x.Discount)
            </label>
            <div class="col-md-2" style="display:inline-block">
                <input type="number" id="ediscount"  placeholder="الخصم" value="@Model.Discount" class="form-control" oninput="dis()" />
            </div>
            <div class="col-md-2" style="display:inline-block"></div>
            <label class="control-label col-md-2">
               @Html.DisplayNameFor(x=>x.Pay)
            </label>
            <div class="col-md-3" style="display:inline-block">
                <input type="number" id="epaid" placeholder="المدفوع" class="form-control" oninput="changes()" />
            </div>
        </div>
    </div>

    @*Order Details*@
    <h5 style="margin-top:5px;color:#ff6347">اضافة منتج</h5>
    <hr />
    <div class="form-horizontal">
        <input type="hidden" id="eproductId" />
        <div class="row">
            <label class="control-label col-md-2">
                المنتج
            </label>
            <div class="col-md-9" style="margin-bottom:2px">
                <input type="text" id="eproductName" placeholder="اسم المنتج" class="form-control" onfocusout="getid()" />
            </div>
            @if (Model.IsBuy)
            {
                <label class="control-label col-md-2">
                    المخزن
                </label>
                <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                    <select id="storeid" name="storeid" class="form-control dropdown-toggle">
                    </select>
                </div>
            }
            <label class="control-label col-md-2">
                الوحده
            </label>
            <div class="col-md-2" style="display:inline-block; margin-bottom:2px">
                <select id="emeasureId" class="form-control" onchange="eaddprice(1)">
                </select>
            </div>
            <label class="control-label col-md-1">
                اللون
            </label>
            <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                <select id="ecolorId" class="form-control dropdown-toggle" onchange="eaddprice(0)">
                </select>
            </div>
           
       </div>
            <div class="row" style="margin-bottom:2px">
            
            @if (Model.IsBuy)
            {
                <label class="control-label col-md-2" id="l">
                  سعر الشراء
                </label>
                <div class="col-md-2" style="display:inline-block">
                    <input type="number" id="buyprice" name="quantity" placeholder="الشراء" class="form-control" />
                </div>
            }
            <label class="control-label col-md-2">
                السعر
            </label>
            <div class="col-md-2" style="display:inline-block; margin-bottom:2px">
                <input type="number" id="eprice" name="price" placeholder="السعر" class="form-control" />
            </div>
            <label class="control-label col-md-2" id="l">
                    الكميه
                </label>
                <div class="col-md-2" style="display:inline-block">
                    <input type="number" id="equantity" name="quantity" placeholder="الكميه" class="form-control" />
                </div>
                <div class="col-md-8" style="">
                    <a id="aaddToList" class="btn btn-primary">اضافه</a>
                </div>
                <div class="above">
                    <div class="loader"></div>
                </div>
            </div>
    </div>
    @*Order Details*@
    <h5 style="margin-top:5px;color:#ff6347">تفاصيل الشراء</h5>
    <div class="form-horizontal">
        <table id="detailsTable1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    @*<th style="display:none"></th>
                    <th style="display:none"></th>*@
                    <th style="width:40%">المنتج</th>
                    <th style="width:10%">الوحده</th>
                    <th>اللون</th>
                    <th style="width:10%"> الكميه</th>
                    <th style="width:15%">السعر</th>
                    <th style="width:15%">السعر الكلي</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody id="add" class="table table-striped">
              
                @foreach (var child in Model.BillItems)
                {
                    var measurename = @child.ItemQantity.Item.Measure.MeasureName;
                    var colorname = @child.ItemQantity.Item.Color.ColorName;
                    var measureid = @child.ItemQantity.Item.MeasureId;
                    var colorid = @child.ItemQantity.Item.ColorId;

                <tr id="_@child.BillItemId">
                    <td> @child.ItemName </td>
                    <td>@measurename</td>
                     <td>@colorname</td>
                    <td>@child.Quantity.ToString("0.00")</td>
                        @if (Model.IsBuy)
                        {
                             <td>@child.BuyPrice</td>
                            itemPrice = child.Quantity * child.BuyPrice;
                            total += itemPrice;
                        }else{
                        <td>@child.SalePrice</td>
                      
                            itemPrice = child.Quantity * child.SalePrice;
                            total += itemPrice;
                        
                        }
                        <td>@itemPrice.ToString("0.00")</td>
                    <td> <a href="#" class="btn btn-danger" onclick="de(@total,@child.BillItemId,'@child.ItemName')"> حذف</a></td>
                    <td style="display: none" > @measureid</td>
                    <td style="display: none">@colorid</td>
                        <td style="display: none">@child.BillItemId</td>
                    <td style="display: none">@child.ItemQuantityId</td>
                    <td style="display:none" >@child.BillItemId</td>
                    <td style="display:none"> 0</td>
                    @if(Model.IsBuy){
                     <td style="display:none">@child.SalePrice </td>
                    }
                 @*   <td style="display: none">@child.</td>*@
                    <td> <a href="#" class="btn btn-danger"
                    onclick="EditBillItem('@child.ItemName',@child.BillItemId,@child.ItemQuantityId,@measureid,'@measurename',@colorid,'@colorname'
                               ,@child.Quantity,@child.SalePrice,@child.BuyPrice)"> عرض</a>
                        </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-2">
                <label>السعر بعد الخصم</label>
                <input class="form-control" style=" width:120px;height:30px" id="editdistotal" disabled value="@((total-Model.Discount).ToString("0.00"))" />
            </div>
            <div class="col-md-2">
                <label>المدفوع</label>
                <input class="form-control" style=" width:120px;height:30px" id="lastpay" disabled value="@(ViewBag.pay.ToString("0.00"))" />
            </div>
                <div class="col-md-2">
                    <label>الباقي</label>
                    <input class="form-control" style="width:120px;height:30px" id="change" disabled value="@((total-Model.Discount-ViewBag.pay)>0?(total-Model.Discount-ViewBag.pay).ToString("0.00"):0.00)" />
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-2">
                <label>السعر الكلي</label>
                <input class="form-control" style="width:120px;height:30px" id="tot" disabled value=@(total.ToString("0.00")) />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">الغاء</button>
        <button id="esaveOrder" type="submit" class="btn btn-danger">حفظ الفاتوره</button>
    </div>
</form>
@*------------------------------------------------forEdit-----------------------------------------------------------------------*@
<div class="modal fade" id="mymodal2">
    <div class="modal-dialog modal-lg" style=" width: 600px !important; background-color:antiquewhite">
        <div class="modal-content" style="background-color:#8f57bb">
            <div class="modal-header">
                <h4>تعديل منتج</h4>
                <a href="#" class="close" data-toggle="modal" data-target="#mymodal2">&times;</a>
            </div>
            <div class="modal-body" id="content">
                <div class="form-horizontal">
                    @* <input type="hidden" id="OrderId" />*@
                    <input type="hidden" id="productId1" />
                    <input type="hidden" id="measureId" />
                    <div class="form-group form-row">
                        <label class="control-label col-md-2">
                            المنتج
                        </label>
                        <div class="col-md-9" style="margin-bottom:2px">
                            <input type="text" id="productName1" name="productName" placeholder="Product Name" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            الوحده
                        </label>
                        <div class="col-md-2" style="display:inline-block; margin-bottom:2px">
                            <input id="measure1" name="measure" disabled class="form-control" />

                        </div>
                        <label class="control-label col-md-1">
                            اللون
                        </label>
                        <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                            @*<input type="text" id="measure" name="measure" placeholder="measure" class="form-control" disabled/>*@
                            <input id="color1" disabled class="form-control dropdown-toggle" />
                        </div>
                        <label class="control-label col-md-1">
                            السعر
                        </label>
                        <div class="col-md-3" style="display:inline-block; margin-bottom:2px">
                            <input type="number" id="price1" name="price" placeholder="السعر" class="form-control" />
                        </div>
                        <label class="control-label col-md-2" id="l">
                            الكميه
                        </label>
                        <div class="col-md-2" style="display:inline-block">
                            <input type="number" id="quantity1" disabled name="quantity" placeholder="الكميه" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="esaveOrder" class="btn btn-danger" onclick="editdata()">حفظ التعديل</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  
    function dis() {
        var disval = parseFloat($("#ediscount").val());
        if (!isNaN(disval)) {
            var total = parseFloat($("#tot").val());
            if (!isNaN(total)) {
                $("#editdistotal").val((total - disval).toFixed(2));
            }
        }
    }
        function changes(){
             var pay=0.0,
              lastPay=0.0,
              total = 0.0,
              discount=0.0;
               if($("#epaid").val()!=""){
                   pay=parseFloat($("#epaid").val());
               }
            if ($("#tot").val()!=""){
                total = parseFloat($("#tot").val());
            }
            if($("#lastpay").val()!=""){
                lastPay = parseFloat($("#lastpay").val());
            }
            if($("#ediscount").val()!=""){
                discount = parseFloat($("#ediscount").val());
            }
             $("#change").val(total -lastPay-pay -discount);
        }
    $("#aaddToList").click(function (e) {
        e.preventDefault();
        var x = 0;
        var newitem=0
        var selectedquantity=0.0;
        if ($.trim($("#eproductName").val()) == "" || $.trim($("#eprice").val()) == "" || $.trim($("#equantity").val()) == 0) { alert("تاكد من ادخال القيم "); return; }
        if ($("#equantity").val() <= 0) { alert("لا يمكن ان تكون الكميه 0 او اقل"); return; }
        //putting data into the table --------------------------------------------------------------------------------------------------------
          var eprice=0.0;
              if(isbuy){
                    eprice = parseFloat($("#buyprice").val());
              }else{
                     eprice = parseFloat($("#eprice").val());
              }
           var  equantity = parseFloat($("#equantity").val()),
            detailsTableBody = $("#add"),
            breakit=0;
            if(!isbuy){
               if (itemquantity < equantity||itemquantity==0) { alert("الكميه اكبر من  الموجوده بالمخزن"); x = 1; $("#equantity").val(""); return; }
                 $.each($("#add tr"), function () {
                     if ($(this).find('td:eq(12)').html() > 0){
                         if ($(this).find('td:eq(10)').html() == itemquantityid) {
                             selectedquantity  =selectedquantity+ equantity + parseFloat($(this).find('td:eq(3)').html());
                             if (itemquantity < selectedquantity) {
                                 alert("الكميه اكبر من  الموجوده بالمخزن"); x = 1; return;
                             }
                         }
                         //if there is item iwant to add and there is exist now need to add it just increase int's quantity only;
                         if ($(this).find('td:eq(10)').html() == itemquantityid && $(this).find('td:eq(4)').html() == eprice && $(this).find('td:eq(0)').html().localeCompare(eproductName)) {
                             $(this).find('td:eq(3)').html(selectedquantity);
                             $(this).find('td:eq(5)').html(selectedquantity * eprice);
                             breakit=1;
                         }
                     }
                 });
            }
        if (x == 1) { return; }
        var calprice = (eprice * equantity);
        var total = parseFloat($("#tot").val()) + calprice;
        $("#tot").val(total.toFixed(2));
         changes();
        if(breakit==0)
        {
                var eproductItem = '<tr><td>' + $("#eproductName").val() + '</td>'
                + '<td>' + $("#emeasureId option:selected").text() + '</td>'
                + '<td>' + $("#ecolorId option:selected").text() + '</td>'
                + '<td>' + equantity + '</td>'
                + '<td>' + eprice + '</td>'
                + '<td>' + calprice.toFixed(2) + '</td>'
                + '<td><a data-itemId="0" href="#" class="edeleteItem">Remove</a></td>'
                + '<td style="display: none">' + $("#emeasureId").val() + '</td>'
                + '<td style="display: none">' + $("#ecolorId").val() + '</td>'
                + '<td style="display: none">' + itemid + '</td>'
                + '<td style="display: none">' + itemquantityid + '</td>'
                + '<td style="display: none">' + $("#echeck").is(":checked") + '</td>'
                + '<td style="display: none">' + ++newitem + '</td>'
                + '<td style="display: none">' + $("#eprice").val() + '</td>'
                +'<td style="display: none">' + $("#storeid").val() + '</td></tr>';
                  detailsTableBody.append(eproductItem);
        }
        clearItem();
    });
    $(document).on('click', 'a.edeleteItem', function (e) {
        e.preventDefault();
        var $self = $(this);
        if ($(this).attr('data-itemId') == "0") {
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                $(this).remove();
                var total = $("#tot").val() - $(this).find('td:eq(5)').html();
                $("#tot").val(total.toFixed(2));
                changes();
            });
        }
    });
    function clearItem() {
        $("#equantity").attr("placeholder", '');
        if(isbuy)
            $("#buyprice").val('');
        $("#eproductName").val('');
        $("#eprice").val('');
        $("#equantity").val('');
        $("#emeasureId").empty();
        $("#ecolorId").empty();
        $("#emeasureName").val('');
        $("#echeck").prop('checked', false);
        forcartona = 1;
    }
   
    //function eischecked() {
    //    var checkbox = $("#echeck").is(":checked");
    //    if (checkbox == false) 
    //        forcartona = 1;
    //    else {
    //        $.ajax({
    //            type: "POST",
    //            data: { id: id },
    //            url: "/Bills/getmesure",
    //            success: function (cartona) {
    //                if (cartona != "")
    //                    forcartona = cartona;
    //            },
    //            error: function () {
    //            }
    //        });
    //    }
    //}
    $("#eproductName").autocomplete({
        appendTo: $("#mymodal"),
        source: function (request, response) {
            $.ajax({
                url: "/Bills/AutoComplete",
                dataType: "json",
                data: { search: $("#eproductName").val()},
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.categoryName, value: item.categoryName };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        },
         select: function (event, ui) {
                $.ajax({
                    url: "/Bills/GetItemId",
                    dataType: "json",
                    data: { name: ui.item.value },
                    success: function (data) {
                        if (data != false) {
                            $("#eproductId").val(data.categoryId);
                            getMeasuresForchoiceeItem(data.categoryId);
                        }
                    },
                });
         }
    });
    function getid() {
        if (isbuy) {
            $.ajax({
                url: "/Bills/GetItemId",
                dataType: "json",
                data: { name: $("#eproductName").val() },
                success: function (data) {
                    getMeasuresForchoiceeItem();
                   // alert(JSON.stringify(data, null, 2));
                    if (data != null) {
                        $("#productId").val(data.categoryId);
                        GetStore();
                        // $("#productName").val(data.categoryName);
                        getMeasuresForchoiceeItem(data.categoryId);
                    }
                },
                error: function (xhr, status, error) {
                    // alert("Error");
                }
            });
        }
    }
    function GetStore() {
        $("#storeid").empty();
        var items = '';
        $.ajax({
            url: "/Bills/GetStores",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, statlist) {
                    if (statlist != null) {
                        items += '<option value=' + statlist.storeId + '>' + statlist.storeName + '</option >'
                        $("#storeid").html(items);
                    }
                });
            }
        });
    }
    function getMeasuresForchoiceeItem(categoryid) {
      //  $("#echeck").prop('checked', false);
        $("#emeasureId").empty();
        var items = '';
        $.ajax({
            url: "/Bills/MeasureFilters",
            dataType: "json",
            data: { categoryid: categoryid, isbuy },
            success: function (data) {
                $.each(data, function (i, statlist) {
                    if (statlist != null) {
                        items += '<option value=' + statlist.measureId + '>' + statlist.measureName + '</option>'
                        $("#emeasureId").html(items);
                    }
                });
                getColorForchoiceeItem(categoryid, $("#emeasureId").val());
            }
        });
    }
    function getColorForchoiceeItem(categoryid, measureid) {
        $("#ecolorId").empty();
        var items = '';
        $.ajax({
            url: "/Bills/ColorFilters",
            dataType: "json",
            data: { categoryid: categoryid, measureid: measureid, isbuy },
            success: function (data) {
                $.each(data, function (i, statlist) {
                    if (statlist != null) {
                        items += '<option value=' + statlist.colorId + '>' + statlist.colorName + '</option>'
                        $("#ecolorId").html(items);
                    }
                });
                eaddprice();
            }
        });
    }
    // After Add A New Order In The List, If You Want, You Can Remove It.
    var onetime=0;
    function eaddprice(i) {
           measureid = $("#emeasureId").val();
        var categoryid = $("#eproductId").val();
         colorid=$("#ecolorId").val();
        if (i == 1) {
           // $("#echeck").prop('checked', false);
            getColorForchoiceeItem(categoryid, measureid);
        }
        if (colorid != null && categoryid != null && measureid != null) {
            $.ajax({
                url: "/Bills/GetPrice",
                dataType: "json",
                data: { categoryid, measureid,colorid},
                success: function (data) {
                    itemquantityid = 0;
                    itemquantity = 0;
                    if (data != null) {
                    $("#eprice").val(data.salePrice);
                    $("#buyprice").val(data.buyPrice);
                    itemquantity = data.quantity;
                    $("#equantity").attr("placeholder", data.quantity);
                    itemid=data.itemId;
                    itemquantityid = data.itemQuantityId;
                    } else if (data == null && !isbuy &&onetime==0) {
                        alert("هذا المنتج غير موجود ");
                        $("#eprice").val("");
                        $("#equantity").attr("placeholder", "");
                        onetime=1;
                    }
                   // eischecked()
                },
                error: function (xhr, status, error) {
                    alert("خطا");
                }
            });
        }
    }
    //Collect Multiple Order List For Pass To Controller
    // the form of data i reseve---------------------------------------------------
    $("#esaveOrder").click(function (e) {
        e.preventDefault();
        $(".loader").css("display", "flex");
        $("#esaveOrder").prop('disabled', true);
        //if ($("#paid1").val() == "") { alert("يجب ان يكون هناك مدفوعات"); return; }
        var billItems = [];          
            billItems.length = 0;
        $.each($("#add tr"), function () {
                var BillItem = new Object();
            //     BillItem.ItemId = $(this).find('td:eq(8)').html();
                BillItem.ItemQuantityId = $(this).find('td:eq(10)').html();//-------------------------------------*/
                BillItem.ItemName = $(this).find('td:eq(0)').html();

                if( $(this).find('td:eq(12)').html()>0 ){
                  BillItem.Quantity = $(this).find('td:eq(3)').html();
                }
                if (isbuy) {
                    BillItem.SalePrice = $(this).find('td:eq(13)').html();
                    BillItem.BuyPrice = $(this).find('td:eq(4)').html();
                    BillItem.MeasureId=$(this).find('td:eq(7)').html();
                    BillItem.ColorId=$(this).find('td:eq(8)').html();
                    BillItem.StoreId = $(this).find('td:eq(14)').html();
                } else {

                    BillItem.SalePrice = $(this).find('td:eq(4)').html();
                }
                BillItem.BillItemId = $(this).find('td:eq(11)').html();
                BillItem.BillId = @Model.BillId;
                billItems.push(BillItem);
        });
        var bill = new Object();
        bill.Discount = $("#ediscount").val();
        bill.BillId = @Model.BillId;
        bill.Discard = false;
        bill.IsBuy = isbuy;
        bill.CustomerId = $("#eCustomerId").val();
        bill.Pay = $("#epaid").val();
        bill.Customer = new Object();
        bill.Customer.Name = $("#ename").val();
        bill.Customer.PhoneNumber = $("#ePhone").val();
        bill.Customer.CustomerId = $("#eCustomerId").val();
        bill.Customer.IsBuy = !isbuy;
        bill.BillItems = billItems;
        $.when(saveOrder(bill)).then(function (response) {
          //  console.log(response);
        }).fail(function (err) {
           // console.log(err);
        });
    });
    //After Click Save Button Pass All Data View To Controller For Save Database
    function saveOrder(bill) {
        var ischeck = $("#endprice").is(":checked");
        return $.ajax({
            type: 'POST',
            url: "/Bills/EditBill",
            data: { bill },
            success: function (result) {
                $(".loader").css("display", "none");
                $("#esaveOrder").prop('disabled', false);
              //  if (result != null) { alert("العنصر " + result + "اجمالي كميته اكبر من المخزن"); return; }
                location.reload();
            },
            error: function () {
                alert("Error!")
                $(".loader").css("display", "none");
                $("#esaveOrder").prop('disabled', false);
            }
        });
    }

    //for edit -------------------------------------------------------------------------------
    var oldprice=0.0;
    function EditBillItem(itemname,billitemid,itemQuantityid,measureid,measurename,colorid,colorname,quantity,salePrice,buyprice)
    { 
        if(isbuy)
        {
          oldprice = buyprice;
          $("#price1").val(buyprice);
        }else{
            oldprice = salePrice;
            $("#price1").val(salePrice);
        }
        $("#productId1").val(billitemid);
        //$("#measureId").val(measureid);
        $("#productName1").val(itemname)
        $("#measure1").val(measurename);
        $("#color1").val(colorname);
       
        $("#quantity1").val();
        totalquantity=quantity;
        $("#mymodal2").modal("show");
    }
    function editdata() {
        var quantity = parseFloat($("#quantity1").val());
        var newprice=parseFloat($("#price1").val()).toFixed(2);
        var billitemid=$("#productId1").val();
        var oldtotalprice=oldprice*quantity;
        var newtotlalprice = (newprice*quantity)-oldtotalprice;
            $("#_" + billitemid).find('td:eq(0)').text($("#productName1").val());
          $("#_" + billitemid).find('td:eq(5)').text(quantity * newprice);
          $("#_" +billitemid).find('td:eq(4)').text();
       var oldtotalpriceforallitems= $("#tot").val();
         if(newtotlalprice>0)
              {  $("#tot").val(newtotlalprice.toFixed(2)+oldtotalpriceforallitems);}
         else if(newtotlalprice<0)
               { $("#tot").val(Math.abs(newtotlalprice).toFixed(2)+oldtotalpriceforallitems);}        
        close();
    }
     function de(price, purchaseid, name) {
        var result = confirm("هل انت متاكد من حذف " + name);
        if (result) {
            $.ajax({
                url: "/Bills/deleteitems",
                type: "POST",
                data: { id: purchaseid },
                success: function (data) {
                    if (data == true) {
                        $("#_" + purchaseid).css("background-color", "#ff6347").fadeOut(800, function () {
                            $(this).remove();
                            var total = parseFloat($("#tot").val()) - parseFloat(price);
                            $("#tot").val(total.toFixed(2));
                           // window.reload();
                        })
                    } else if (data == false) {
                        alert("حدث شيء ما !!!!!");
                    } else {
                        alert(data);
                    }
                }
            })
        }
    }
</script>