@model Bill
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<br />

@{int index = 0; int index2 = 0;}
@if (Model is not null)
{
   double discount= Model.BillItems.Count() == 0 ? Model.Discount  :Model.Discount;
    double Bill = 0;
    double discard = 0;
    double totalBill = 0;
    double mortagah = 0;
    double paid = Model.Pay;

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <div class="panel panel-default" style="position:center">
                <a href="/Bills/PurchasePrint?billId=@Model.BillId"target="_blank" class="btn btn-dark fa fa-print"> </a>
                <div id="txt" style="text-align:center"> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-7">

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>اسم المشتري : @Model.Customer.Name </td>
                        <td>رقم المعامله: @Model.BillId </td>
                        <td>  @Model.CreationDateTime.ToString("dd/MM/yyyy hh:mm tt") : تاريخ الشراء  </td>
                        <td>اسم الموظف :@Model.UserName </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>م</th>
                                        <th>المنتج</th>
                                        <th>الوحده</th>
                                        <th>اللون</th>
                                        <th>الكميه</th>
                                        <th>السعر</th>
                                        <th>السعر الكلي</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                    @foreach (var p in Model.BillItems)
                                    {
                                        if (p.Quantity > 0)
                                        {
                                            index++;
                                     <tr>
                                    <td>@index</td>
                                    <td>@p.ItemName</td>
                                    <td>@p.ItemQantity.Item.Measure.MeasureName</td>
                                      <td>@p.ItemQantity.Item.Color.ColorName</td>
                                    <td>@p.Quantity.ToString("0.00")</td>
                                        @if (Model.IsBuy)
                                        {
                                           <td>@p.BuyPrice.ToString("0.00")</td>
                                           Bill = p.Quantity * p.BuyPrice;
                                         }
                                        else
                                        {
                                             <td>@p.SalePrice.ToString("0.00")</td>
                                               Bill = p.Quantity * p.SalePrice;
                                         }
                                      
                                        <td>@Bill.ToString("0.00")</td>
                                    <td></td>
                                </tr>
                                            totalBill += Bill;
                                        }
                                    }
                                    <tr> <td colspan="8" style="text-align:center"> المرتجع</td></tr>
                                    @foreach (var discarded in Model.BillItems)
                                    {
                                        if (discarded.DiscardQuantity > 0)
                                        {
                                            index2++;
                                            <tr>
                                                <td>@index2</td>
                                                <td>@discarded.ItemName</td>
                                                <td>@discarded.ItemQantity.Item.Measure.MeasureName</td>
                                                <td>@discarded.ItemQantity.Item.Color.ColorName</td>
                                                <td>@discarded.DiscardQuantity</td>
                                                @if(Model.IsBuy){
                                                    <td>@discarded.BuyPrice</td>
                                                    discard = discarded.DiscardQuantity * discarded.BuyPrice;
                                                }else{
                                                    <td>@discarded.SalePrice</td>
                                                    discard = discarded.DiscardQuantity * discarded.SalePrice;
                                                
                                                }
                                                <td>@discard.ToString("0.00")</td>
                                                <td></td>
                                            </tr>
                                            mortagah += discard;
                                        }
                                    }
                                </tbody>
                            </table>
                            <table class="table table-striped">
                                <tr>
                                    <td><strong>  المرتجع : </strong><span>@mortagah.ToString("0.00") جنيه</span></td>
                                    <td class="pull-right" style="margin-right:100px;">
                                        <strong>اجمالي سعر الفاتوره بعد الخصم  :  </strong>
                                        <span>@((totalBill + mortagah - discount).ToString("0.00"))</span>
                                    </td>
                                    <td class="pull-right" style="margin-right:100px;"><strong>المستلم من العميل :  </strong>@paid.ToString("0.00")</td>
                                    <td class="pull-right" style="margin-right:100px;"><strong>الخصم :  </strong>@discount</td>
                                </tr>
                                @{
                                    double hasmoney = paid - totalBill + discount; double dept = totalBill - paid - discount;
                                }
                                <tr>
                                    <td class="pull-right" style="margin-right:100px;"><strong>الرصيد : </strong> @(hasmoney > 0 ? hasmoney.ToString("0.00") : "0.00")</td>
                                    <td class="pull-right" style="margin-right:100px;"><strong>مدين :  </strong> @(dept > 0? dept.ToString("0.00"): "0.00") </td>
                                    <td colspan="2"><strong>  سعر الفاتوره بعد المرتجع :  </strong><span>@((totalBill - discount).ToString("0.00"))</span></td>
                                </tr>
                                <tr>
                                    <tr><td colspan="4">------------------------------------------------لجميع الفواتير -------------------------------------------------</td></tr>
                                    <td colspan="2"><strong>الرصيد الكلي :@(ViewBag.total > 0 ? ViewBag.total.ToString("0.00") : "0.00")</strong></td>
                                    <td colspan="2"><strong> الدين الكلي: @(ViewBag.total < 0 ?Math.Abs(ViewBag.total).ToString("0.00") : "0.00")</strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>المدفوع</th>
                    <th>تاريخ الدفع</th>
                </tr>
                @foreach (var item in ViewBag.paymentList)
                {
                        <tr>
                            <td>@item.Pay.ToString("0.00")</td>
                        <td>@item.Date.ToString("dd/MM/yyyy hh:mm tt")</td>
                        </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div class="panel-body">
        <h3 style="color:red;">Empty!</h3>
    </div>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section scripts{
}
<script>
    $(document).ready(function () {
        var itemCount =@index;
        $("#txt").text("عدد العناصر :" + itemCount);
    });
</script>