@model IEnumerable<ItemQuantity>
<style>
    td{
       width:10%;
       font-size:large;
    }
</style>
@{
    if (Model.Count() == 0)
    {
        <p style="text-align:center;font-size:larger;font-weight:bold; color:red"> لا توجد عناصر للعرض</p>
    }
    else
    {
        <table class="table table-striped table-bordered" style="text-align:center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.Category.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.Measure.MeasureName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.Color.ColorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.BuyPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalePrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="@item.ItemQuantityId">
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Category.CategoryName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Item.Measure.MeasureName)
                    </td>
                    @if (item.Item.Color.ColorName == "عادي")
                    {
                        <td>
                          -------
                        </td>
                    }
                    else
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Color.ColorName)
                    </td>
                    }
                    <td style="font-size:large; font-weight:bold;color:red">
                            <input type="number" class="form-control" value="@item.Quantity.ToString("0.00")" id="quantity_@item.ItemQuantityId" oninput="showbutton(@item.ItemQuantityId)">
                    </td>
                        <td style="font-size:large; font-weight:bold;color:red">
                            <input type="number" class="form-control" value="@item.BuyPrice.ToString("0.00")" id="buyprice_@item.ItemQuantityId" oninput="showbutton(@item.ItemQuantityId)">
                        </td>
                        <td style="font-size:large; font-weight:bold;color:red">
                            <input type="number" class="form-control" value="@item.SalePrice.ToString("0.00")" id="saleprice_@item.ItemQuantityId" oninput="showbutton(@item.ItemQuantityId)">
                            </td>
                        <td>
                            <input id="button_@item.ItemQuantityId" class="form-control btn btn-success" type="button" onclick="savedata(@item.ItemQuantityId)" hidden value=" حفظ " />
                        </td>
                </tr>
                }
            </tbody>
        </table>
    }
}

<script>
    function showbutton(itemquantityid) {
        $("#button_" + itemquantityid).attr("hidden", false).show(800);
    }
    function savedata(itemquantityid){
        var ItemQuantity=new Object();
        ItemQuantity.ItemQuantityId=itemquantityid;
        ItemQuantity.Quantity=$("#quantity_" + itemquantityid).val();
        ItemQuantity.BuyPrice=$("#buyprice_" + itemquantityid).val();
        ItemQuantity.SalePrice=$("#saleprice_" + itemquantityid).val();
        //alert(JSON.stringify(ItemQuantity, null, 2));
        $.ajax({
            url: "/Operations/ChangeItemQuantity",
            type: "POST",
             data: { itemquantity: ItemQuantity },
             success: function (isok) {
                    if(isok){
                    $("#button_" + itemquantityid).css("background-color", "#ff6347").hide(800);
                    }
                    else{
                        alert("حدث خطا");
                    }
            }, error: function () {
                alert("حدث خطا");
            }
        });
    }
</script>